* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    color: #ff0000;
    text-decoration: none;
    font-family: 'Roboto';
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.1s ease-in;
    font-size: 20px;
}

ul li a {
    color: #ff0000;
    text-decoration: none;
    font-family: 'Roboto';
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.1s ease-in;
    font-size: 17px;
}

ul li a:hover {
    background: #ff0000;
    color: #ffffff;
}

header img {
    width: 40px;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    z-index: 9999;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
}

#header img {
    width: 30px;
    height: 30px;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
}


#inicio-pag h1 {
    font-family: 'Roboto';
    font-size: 65px;
    color: #ffff;
    margin-left: 2%;
    padding-top: 7%;
    text-shadow: 3px 3px 3px #4e3225;
}

#inicio-pag h2 {
    font-family: 'Roboto';
    font-size: 40px;
    color: #ffff;
    margin-left: 2%;
    margin-bottom: 2%;
    text-shadow: 3px 3px 3px #4e3225;
}



#inicio-pag {
    background-image: url("../img/backgms.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
}

.endereco p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    margin-left: 2%;
}

.endereco strong {
    color: #ffc400;
}

.endereco p a {
    color: #ffffff;
    text-decoration: wavy;
    width: 200px;
}


span {
    font-weight: 300px;
}

.title {
    width: 100%;
}

.endereco {
    width: 100%;
}


#social-grid {
    width: 60px;
    height: 2px;
    display: flex;
    gap: 0.5rem;
    padding: 3%;
}

#social-grid a {
    z-index: 9;
}

#social-grid img {
    width: 40px;
    border: 3px solid transparent;
    border-radius: 100%;
    transition: 0.2s;
}

#social-grid img:hover {

    transform: scale(1.2);
    border: 3px solid #fcdbc0;
    border-radius: 100%;
    box-shadow: 0px 0px 50px #ffffff;
}

.listra-container svg {
    height: 0px;
    width: calc(100% + 1.3px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    fill: rgb(255, 255, 255);
    position: absolute !important;
    top: 69%;
}

.listra-container2 svg {
    height: 110px;
    width: calc(100% + 1.3px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    fill: rgb(255, 34, 34);
    position: relative !important;
    top: 95%;
    margin-top: 2%;
}

.listra-container3 svg {
    height: 110px;
    width: calc(100% + 1.3px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    fill: rgb(255, 255, 255);
    position: relative !important;
    top: 95%;
}

.listra-container4 svg {
    height: 0px;
    width: calc(100% + 1.3px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    fill: rgb(255, 34, 34);
    position: relative !important;
    top: 95%;
}

#container {
    width: 100%;
    display: flex;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

#container-2 {
    width: 100%;
    display: flex;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

#container p,
#container-2 p {
    padding: 10px;
    font-size: 20px;
}

.conteudo {
    width: 65%;
    margin-left: 10%;
}

.title-text h1,
.h1-2 h1 {
    color: red;
    font-size: 30px;
    font-family: 'Roboto';
    margin-top: 5%;
}

.title-text p {
    width: 80%;
}

.content span {
    color: red;
}

.iframe {
    width: 100%;
}

.iframe-2 {
    width: 50%;
}

.divider {
    display: flex;
}

.dividir-1 span,
.dividir-2 span {
    padding: 2px;
}

.dividir-1 {
    width: 30%;
    padding: 20px;
}

.dividir-2 {
    width: 30%;
    padding: 20px;
    float: right;
}


a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 34, 34);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 16px 30px;
    border-radius: 3px;
    margin-top: 40px;
    gap: 5px;
    transition: 0.2s ease-in;
    color: #ffffff;
}

a.button:hover,
a.button2:hover {
    background-color: rgb(153, 0, 0);
    transform: scale(0.9);
}

a.button2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 187, 0);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 16px 30px;
    border-radius: 3px;
    margin-top: 40px;
    gap: 5px;
    transition: 0.2s ease-in;
    margin-left: 2%;
    color: #ffffff;
}


#contato {
    padding: 3%;
    background: gray;
    background-size: cover;

}

.contatoimg a:hover {
    color: red;
}

.contatoimg img:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: center;
}

.footerlogo {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 2%;

}

.endereco-footer {
    width: 25%;
    margin-left: 2%;
}

.endereco-footer img {
    margin-left: 20%;
    width: 60px;
    height: 60px;
}


#contato p {
    padding: 10px;
    font-family: 'Arial';
    color: #FFFFFF;
    margin-bottom: 4%;
}

#contato h2 {
    font-family: 'Roboto';
    font-size: 25px;
    color: #ffffff;
}

.contatoimg img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
}



.contatoimg a {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    margin-left: 0px;
    text-decoration: underline;
    padding: 5%;
}

.contatoimg {
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
}

.contatoimages {
    display: block;
    max-width: 50%;
    margin-right: 20%;
}

.iframe {
    width: 100%;
    height: 100%;
}

.iframe iframe {
    background: white;
    max-width: 540px;
    width: calc(100% - 2px);
    border-radius: 3px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: none;
    display: block;
    margin: 0px 0px 12px;
    min-width: 346px;
    padding: 0px;
    margin-left: 0%;
    height: 620px;

}

.qrr {
    width: 200px;
    height: 200px;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #ffffff;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 60px);
        visibility: visible;
        overflow-y: auto;
    }


    #menu a {
        text-align: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }


    nav ul li {
        padding: 5%;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: red;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }




    /* reusable classes */

    #inicio-pag {
        background-image: url("../img//mobilebackms.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        backdrop-filter: 2%;
    }

    #container {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5%;
    }

    #container-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .conteudo {
        width: 100%;
        margin: 0;
    }

    #container p,
    #container-2 p {
        width: 95%;
    }

    .title {
        width: 100%;
    }

    .endereco {
        width: 100%;
    }

    .endereco p {
        width: 80%;
        font-size: 17px;
        font-weight: 300;
    }

    #container h1,
    #container-2 h1 {
        text-align: center;
        width: 90%;
        margin-top: 10%;
    }


    .button {
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    a.button2 {
        float: left;
        margin-top: 30%;
    }


    .listra-container svg {
        height: 110px;
        width: calc(100% + 1.3px);
        left: 50%;
        transform: translateX(-50%);
        min-width: 100%;
        fill: rgb(255, 255, 255);
        position: absolute !important;
        top: 68%;
    }

    .listra-container2 svg {
        height: 50px;
        margin-top: 20%;
    }

    .listra-container3 svg {
        display: none;
    }

    #inicio-pag h1 {
        padding-top: 20%;
        font-family: 'Roboto';
        font-size: 40px;
        color: #ffff;
        margin-left: 2%;
    }

    #social-grid {
        height: auto;
    }

    #social-grid img {
        width: 40px;
    }

    .h1-2 {
        display: none;
    }

    .divider {
        width: 100%;
    }

    .dividir-1 {
        width: 40%;
    }

    .dividir-2 {
        width: 40%;
    }

    .footer {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contatoimg a:hover {
        color: orange;
    }

    .contatoimg img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    #contato h2 {
        font-size: 17px;
    }

    .contatoimg {
        display: block;
        width: 100%;
    }

    .contatoimages {
        margin-right: 15px;
    }

    .endereco-footer {
        width: 45%;
        text-align: center;
    }

    .endereco img {
        margin: 0;
        width: 40px;
        height: 40px;
    }

    .horario {
        text-align: center;
    }

    .contatoimg img {
        width: 35px;
        height: 35px;
        margin-top: 10px;
    }

    .contatoimg a {
        font-size: 12px;
        margin-left: 5px;
    }

    .footerlogo {
        display: none;
    }

    footer p {
        font-size: 12px;
    }


    .iframe-2 {
        width: 100%;
    }

    .iframe {
        width: 100%;
    }

}




@media (max-width: 1000px) {

    /* reusable classes */
    #container {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5%;
    }

    #container-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .conteudo {
        width: 100%;
        margin: 0;
    }

    #container p,
    #container-2 p {
        width: 95%;
    }

    .endereco strong {
        font-weight: bold;
        color: #ffc400;
    }

    #container h1,
    #container-2 h1 {
        text-align: center;
        width: 90%;
    }


    #container h1,
    #container-2 h1 {
        width: 90%;
    }

    .button {
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    a.button2 {
        float: left;
    }

    .listra-container svg {
        display: none;
    }

    #inicio-pag {
        padding-top: 8%;
    }

    #social-grid {
        height: auto;
    }


    .title {
        width: 100%;

    }

    .endereco {
        width: 100%;
    }

    .endereco p {
        font-size: 17px;
        font-weight: 600;
    }

    .content {
        margin-top: 5%;
    }

    #inicio-pag h1 {
        font-family: 'Roboto';

        color: #ffff;
        margin-left: 2%;
    }

    .h1-2 {
        display: none;
    }

    .divider {
        width: 100%;
    }

    .dividir-1 {
        width: 40%;
    }

    .dividir-2 {
        width: 40%;
    }

    .footer {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #contato h2 {
        font-size: 17px;
    }

    .contatoimg a:hover {
        color: orange;
    }

    .contatoimg img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .contatoimg {
        display: block;
        width: 100%;
    }

    .contatoimages {
        margin-right: 15px;
    }

    .endereco-footer {
        width: 45%;
        text-align: center;
    }

    .endereco-footer img {
        margin: 0;
        width: 40px;
        height: 40px;
    }

    .horario {
        text-align: center;
    }

    .contatoimg img {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }

    .contatoimg a {
        font-size: 12px;
        margin-left: 5px;
    }

    /* .footerlogo {
        display:none ;
    } */

    footer p {
        font-size: 12px;
    }


    .iframe {
        width: 100%;
        margin-bottom: 15px;
    }

    .iframe iframe {
        width: 100vw;
        height: 690px;

    }

    .qrr {
        display: none;
    }
}
